<div class="formWrapper">


  <form [formGroup]="signupFB">
    <div class="formEntry">
      <mat-form-field appearance="standard">
        <mat-label> Username: </mat-label>
        <input matInput placeholder="John123" formControlName="username" required>
      </mat-form-field>
    </div>
    <div class="formEntry">
      <mat-form-field>
        <mat-label> Email: </mat-label>
        <input matInput placeholder="Ex. example@test.com" formControlName="email" required>
      </mat-form-field>
    </div>
    <div class="formEntry">
      <mat-form-field>
        <mat-label> Password </mat-label>
        <input matInput placeholder="Password#123" formControlName="password" required>
      </mat-form-field>
    </div>
    <div class="formEntry">
      <mat-form-field>
        <mat-label> Confirm Password </mat-label>
        <input matInput placeholder="Password#123" formControlName="confPassword" required>
      </mat-form-field>
    </div>
  </form>
</div>
<div *ngIf="signupFB.errors.required">
  Name is required.
</div>
<div *ngIf="signupFB.errors.minlength">
  Name must be at least 4 characters long.
</div>
<div *ngIf="signupFB.errors.forbiddenName">
  Name cannot be Bob.
</div>
</div>
