.contentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.mainWrapper {
  flex-direction: column;
  width: 75%;
  margin-top: 2.5%;
  position: relative;
  text-align: center;
}

.videoGrid {

}
