.formWrapper {
  display: flex;
  margin-left: 25%;
  margin-right: 25%;

}

#registerForm {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin: 10px;
}
.errors {
  margin-left: 10px;
  margin-top: -15px;
}

button {
  margin: 10px;
}
